@import "tailwindcss";

@theme {
  --color-bg: #08090b;
  --color-surface: #101216;
  --color-border: #20242b;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #9ca3af;
  --color-accent: #3b82f6;
}

html,
body {
  overflow-x: hidden;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 90px;
}